audio {
  margin: 0 0 1.5em 0;
  width: 100%;
}
button {
  width: 16.2em;
}
div#sources > div {
  float: left;
  margin: 0 1em 0 0;
  width: calc(50% - 0.5em);
}

div#sources > div:last-of-type {
  margin: 0;
}
select {
  margin: 0 0 2em 0;
}
video {
  background: black;
  height: 234px;
}
