audio {
  display: inline-block;
  position: relative;
  top: 9px;
  width: calc(100% - 120px);
}

button {
  margin: 0 20px 0 0;
  width: 96px;
}

div#audio {
  margin: 0 0 29px 0;
}

div#audio > div {
  margin: 0 0 20px 0;
}

div.label {
  display: inline-block;
  font-weight: 400;
  width: 120px;
}
